@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: #fff;
  color: #000;
  font-family: "Roboto", sans-serif;
}

.box {
  width: 100px;
  height: 100px;
  background-color: azure;
  margin: 10px;
}

#smooth-wrapper {
  height: 100%;
}

/* SmoothIntro */

.smooth-intro-container {
  width: 100%;
  height: calc(100vh - 2px);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
}

.random-words-container {
  width: 300px;
  height: 309px;
  position: relative;
  overflow: hidden;
}

.random-words-container > ul {
  list-style: none;
  position: relative;
  top: -15px;
}

.cover-text {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
}

.cover-text.top {
  width: 100%;
  height: calc(50% - 10px);
  position: absolute;
  z-index: 2;
}

.cover-text.bottom {
  width: 100%;
  height: calc(50% - 10px);
  position: absolute;
  bottom: 0px;
}

.loader-container {
  position: absolute;
  bottom: 0px;
  width: 0%;
  height: 30px;
  background: rgba(255, 255, 255, 1);
  color: #000;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  left: 0px;
}

.loader-container > span {
  font-weight: 400;
  margin-top: 10px;
  font-family: "Roboto";
  position: relative;
  padding-right: 10px;
  margin: 0;
}

.hero-container {
  height: 100vh;
  background: #fff;
  color: #000;
  display: flex;
  justify-self: center;
  align-items: center;
}

.name-container {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;

  /* for gsap */
  opacity: 0;
  transform: scale(0.5);
}

.name-container .name {
  font-size: 200px;
  font-weight: 900;
}

.name-container .line {
  width: 40px;
  height: 143px;
  margin-top: 43px;
  background: #000;
  margin: 43px;
}

.image-container {
  width: 100%;
  height: 600px;
  position: absolute;
  bottom: 0px;
  mix-blend-mode: plus-lighter;
  background-image: url("./practice/CodeAlong/SmoothIntro/assets/bg.jpeg");
}

.mini-header {
  position: absolute;
}

.mini-header {
  font-weight: 600;
  font-size: 20px;
  opacity: 0;
}

.mini-header > span {
  margin: 80px;
}

.logo-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-container svg {
  fill: black;
}

.logo-container svg > g {
  transform: translate(30%, 36%);
}

/* Animation one */
.logo-container svg #C {
  transform: translate(-60px, -60px) rotate(-45deg);
}

.logo-container svg #A {
  transform: translate(-60px, 60px) rotate(45deg);
}

.logo-container svg #S {
  transform: translate(0px, -30px) rotate(10deg);
}

.logo-container svg #P {
  transform: translate(70px, 80px) rotate(30deg);
}

.logo-container svg #Y {
  transform: translate(50px, -70px);
}

/* Animation Two */

.logo-container svg {
  transform: scale(5);
  opacity: 0;
}

.logo-container .animation-two svg #C {
  fill: transparent;
  stroke: #000;
  stroke-dasharray: 100;
}

.logo-container .animation-two svg #A {
  transform: translate(-60px, 60px) rotate(45deg) scale(0.5);
  fill: transparent;
  stroke: #000;
}

.logo-container .animation-two svg #P {
  fill: #f99416;
}

/* Scroll Trigger Animation */

.st-box {
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid red;
}

.st-box .title-container {
  border: 1px solid red;
  width: 100%;
  text-align: center;
}

.st-box .title-container h1 {
  border: 1px solid red;
  overflow: hidden;
  padding: 60px 0px;
  font-weight: 900;
}

.st-box .title-container h1 span {
  transform: translate(0px, 50px);
  display: inline-block;
  border: 1px solid red;
  margin: 0px;
  font-size: 3px;
}

.st-box.big {
  height: auto;
  padding: 40px;
}

.st-box .st-image-container {
  display: flex;
  gap: 100px;
  flex-wrap: wrap;
  justify-content: center;
  width: 600px;
}

.st-box .st-image-container .image-box {
  width: 200px;
  height: 300px;
  background-size: cover;
}

.st-box.scroll-within {
  border: 1px solid red;
  background-color: aqua;
  display: flex;
  flex-direction: column;
}

.scroll-within .within {
  border: 1px solid red;
  width: 100%;
  height: 100px;
}

/* Afterlife Logo Animation */
.al-logo-container {
  border: 1px solid red;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.al-logo-container svg {
  border: 1px solid red;
  fill: #285857;
  transform: scale(1.5);
}

.al-logo-container svg #A-leaf {
  transform: scale(2) translate(56px, -27px);
}

.al-logo-container svg #leaf {
  transform-origin: 32.5761px 31.6288px;
}

.al-logo-container svg .letters {
  opacity: 0;
  transform: translate(0px, 20px);
}

.al-logo-container svg #A {
  fill: transparent;
  stroke: #285857;
  stroke-dasharray: 80;
}
