@import url("https://fonts.googleapis.com/css2?family=Teko:wght@300..700&display=swap");

body {
  background-color: #333;
  font-family: "Teko", sans-serif;
  height: 4000px;
}

.box {
  width: 100px;
  height: 100px;
  background-color: azure;
  margin: 10px;
}

#smooth-wrapper {
  height: 100%;
}
